<footer class="footer mt-5">

    <div class="container py-5">

        <div class="row gy-4">

            <!-- Brand -->
            <div class="col-lg-4 col-md-6">

                <h4 class="footer-brand">

                    <i class="fa-solid fa-compass me-2"></i>

                    WanderLust

                </h4>

                <p class="footer-text mt-3">

                    Discover unique stays, unforgettable experiences,
                    and explore the world with WanderLust.

                </p>

            </div>

            <!-- Quick Links -->
            <div class="col-lg-2 col-md-6">

                <h5 class="footer-heading">
                    Explore
                </h5>

                <ul class="footer-links">

                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="/listings">
                            Listings
                        </a>
                    </li>

                    <li>
                        <a href="/listings/new">
                            Add Listing
                        </a>
                    </li>

                </ul>

            </div>

            <!-- Policies -->
            <div class="col-lg-3 col-md-6">

                <h5 class="footer-heading">
                    Support
                </h5>

                <ul class="footer-links">

                    <li>
                        <a href="/privacy">
                            Privacy Policy
                        </a>
                    </li>

                    <li>
                        <a href="/terms">
                            Terms & Conditions
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Help Center
                        </a>
                    </li>

                </ul>

            </div>

            <!-- Socials -->
            <div class="col-lg-3 col-md-6">

                <h5 class="footer-heading">
                    Follow Us
                </h5>

                <div class="social-icons mt-3">

                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>

                </div>

            </div>

        </div>

        <!-- Bottom -->
        <hr class="footer-line">

        <div class="text-center footer-bottom">

            &copy; 2026 WanderLust Pvt. Ltd.
            All rights reserved.

        </div>

    </div>

</footer>